<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.caioalmeida.revisaoandroid">

    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activityList.ListMainActivity" />
        <activity android:name=".activityGrid.GridMainActivity" />
        <activity android:name=".activityCompartilhar.CompartilhaMainActivity" />
        <activity android:name=".activityRequisicao.RequisicaoMainActivity" />
        <activity android:name=".activityInfo.InfoCarroActivity"></activity>
    </application>

</manifest>